<% layout('layouts/boilerplate') -%>

<main>
  <!-- MAIN CONTENT STARTS HERE -->
  <div class="main-content">
    <h1>Hello and welcome to MangaDuniya</h1>

    <!-- FOOTR STARTS HERE -->
    <%- include('./layouts/footer') %>
  </div>
  <!-- MAIN CONTENT ENDS HERE -->
</main>
